body {
	margin: 0em;
	padding:0;
	font-family:arial,helvetica,verdana;
}
h1:before {

}
h1 {

}
h2{

}


a, code {
	color: #18906C;
}

a:link {
	color: #18906C;
}

code {
	font-weight: bold;
}

form {
margin:0px;
padding:0px;
}

/* Style des niveaux de titre */
h1, h2, h2 a, h2 a:visited  {

}

h1 {
font-family:Arial, Helvetica,verdana, sans-serif;
color:#990066;
font-weight:normal;
font-size:20px;
text-transform:uppercase;
margin-top:3px;
margin-bottom:3px;
margin-left:10px;
}

h2 {

color:#666;
font-family:Arial,Helvetica,sans-serif;
font-size:16px;
font-weight:bold;
margin:0px;padding:0px;
padding:20px 0 0 26px;
}

h3 {
color:#c875ac;
font-size:15px;
margin-top:0px;margin-bottom:0px;
padding:4px;
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
text-transform:uppercase;
}
h3 a,h3 a:link {
color:#fe8d01;
}

h4 {
color:#fff;
font-size:18px;
font-weight:bold;
font-family:Trebuchet MS;
margin:0px;
padding:0px;
padding-bottom:5px;
}

h5 {
color:#fe8d01;
font-size:14px;
margin-top:0px;margin-bottom:0px;
padding:4px;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
}

/* Style des listes */
ul {margin:0px;padding-left:25px}
li {
list-style-type:square;
}

/* Style des footnotes */
fn, sup {
color:#131313;
}

/* ######### classes génériques ######## */
.error_message {
font-size:large;
color:red;
text-align:center;
}


/********/
div#block_download {
width:444px;
float:left;
}

div.header_download {
background-image:url(../img/header_download.jpg);
background-repeat:no-repeat;
background-position:top left;
float:left;
width:100%;
height:50px;
}

div.content_download {
background-image:url(../img/content_download.jpg);
background-repeat:repeat;
background-position:top left;
float:left;
width:100%;
}

div.footer_download {
background-image:url("../img/footer_download.jpg");
background-position:left top;
background-repeat:no-repeat;
float:left;
height:50px;
width:100%;
}

.dlOk  p{
margin:10px 30px;
font-size:11px;
font-weight:bold;
}

.path {
background-color:#fff ;
border:1px #663 solid;
padding:10px;
margin:3px;
display:block;
font-weight:regular;
}


/********** formuaire de telechargement***********/
form#upload_form  {
margin:0px;
padding:0px;
float:left;
display:block;
width:400px;
}
form#upload_form  label ,form#upload_form  span.step{
clear:left;
color:#456666;
display:block;
float:left;
font-size:11px;
font-weight:bold;
margin-left:22px;
width:126px;
}

form#upload_form  p{
padding:0px;
float:left;
display:block;
clear:left;
margin:6px 0 6px 6px;
width:100%;
}

form#upload_form input ,form#upload_form textarea{
width:242px;border:0px none #fff;
display:block;
float:right;
margin-top:3px;
}

form#upload_form input[type=text] {
background-image:url("../img/input_text.jpg");
display:block;
float:right;
height:24px;
}

form#upload_form input[type=file] {

height:24px;
}
input.submit {
background-image:url(../img/input_connect.jpg);
text-indent:-3000px;
background-color:#b1b1b1;
color:#fff;
font-size:25px;
text-transform:uppercase;
font-family:'Century Gothic',Futura,'URW Gothic L',sans-serif;
float:right;
font-weight:bold;
display:block;
width:242px;
border:none;
}
input.submit:hover{
background-image:url(../img/input_connect.jpg);
background-position:0px 30px ;
cursor:pointer;
}

form#upload_form input[type=submit],input.submitto {
background-image:url(../img/input_submit.jpg);
text-indent:-3000px;
background-color:#b1b1b1;
color:#fff;
font-size:25px;
text-transform:uppercase;
font-family:'Century Gothic',Futura,'URW Gothic L',sans-serif;
float:right;
font-weight:bold;
display:block;
}
form#upload_form input[type=submit]:hover,input.submitto:hover{
background-image:url(../img/input_submit.jpg);
background-position:0px 30px ;
cursor:pointer;
}


form#upload_form textarea {
height:74px;
background-image:url(../img/input_textarea.jpg);
}

form#upload_form textarea ,form#upload_form [type=text] {color:#922;border:1px solid #efefef}
form#upload_form textarea:hover ,form#upload_form [type=text]:hover {color:#000;border:1px solid #ccc}
form#upload_form textarea:focus ,form#upload_form [type=text]:focus {color:#600;border:1px solid #aaa;border-top:1px solid #aaa;border-left:1px solid #999}
form#upload_form textarea:active ,form#upload_form [type=text]:active {color:#722;border:1px solid #666}

ul.errorlist ,.errorlist li {
list-style-type:none;
text-align:left;
color:red;
font-size:11px;
font-weight:bold;
}
ul.errorlist{
margin-left:17px;
padding:0px;
}
th label{
float:left;
text-align:left;
width:150px;
}
p.footer a,p.footer a:link,p.footer a:visited{
color:#666;
font-size:11px;
float:right;
}
p.footer a :hover{
color:#333;
font-size:11px;
}
input#id_username,input#id_password{
width:242px;
}
div#block_content{
float:left;
width:500px;
}
#block_content p{
font-size:11px;
text-align:justify;
padding:5px;
margin-left:15px;
}