{% extends "downloader/base.html" %}
{% load i18n %}
{% block title %}Upload{% endblock %}

{% block header %}
{% endblock %}
{% block links %}
    <link rel="stylesheet" type="text/css" media="screen" href="/css/upload.css">
{% endblock %}
{% block content %}
<div>
    <form id="upload_form" action="{% url upload %}" method="post" enctype="multipart/form-data" accept-charset="utf-8" class="steps">
        <h3>Upload a file</h3>
	{{ form.as_p_dict.file }}
	{{ form.as_p_dict.my_mail }}
	{{ form.as_p_dict.notify1 }}
	{{ form.as_p_dict.notify2 }}
	{{ form.as_p_dict.notify3 }}
	{{ form.as_p_dict.comment }}
	{{ form.as_p_dict.password }}

        <p><span class="step"></span>
            <input type="submit" value="Upload"/>
        </p>
    </form>
</div>
<div id="progress_container">
    <div id="progress_filename"></div>
    <div id="progress_bar">
        <div id="progress_indicator"></div>
    </div>
</div>
<a href="{{ next_url }}">Suivant</a>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.uploadProgress.js"></script>
<script type="text/javascript" charset="utf-8">
//<![CDATA[
var fileSizePattern = /^(\d+(?:\.\d+)*)\s*([egkmpt])b?$/i;
$.tablesorter.addParser({
    id: 'filesize',
    is: function(s) {
        return fileSizePattern.test(s);
    },
    format: function(s) {
        var groups = fileSizePattern.exec(s);
        if (groups != null)
        {
            var size = new Number(groups[1]);
            var unit = groups[2].toLowerCase();
            switch (unit) {
                case 'k':
                    return size * 1024;
                case 'm':
                    return size * Math.pow(1024, 2);
                case 'g':
                    return size * Math.pow(1024, 3);
                case 't':
                    return size * Math.pow(1024, 4);
                case 'p':
                    return size * Math.pow(1024, 5);
                case 'e':
                    return size * Math.pow(1024, 6);
                return size;
            }
        }
    },
    type: 'numeric'
});

$(document).ready(function()
    {
        $("#upload_table").tablesorter({
            cssHeader: 'sortable',
            cssAsc: 'sortedAsc',
            cssDesc: 'sortedDesc',
            widgets: ['zebra'],
            headers: {3: {sorter: false}}
        });

        $(function() {
            $('#upload_form').uploadProgress({
                jqueryPath: "{{MEDIA_URL}}js/jquery.js",
                progressBar: '#progress_indicator',
                progressUrl: '{% url upload_progress %}',
                start: function() {
                    $("#upload_form").hide();
                    filename = $("#id_file").val().split(/[\/\\]/).pop();
                    $("#progress_filename").html('Uploading ' + filename + "...");
                    $("#progress_container").show();
                },
                uploadProgressPath: "{{MEDIA_URL}}js/jquery.uploadProgress.js",
                uploading: function(upload) {
                    if (upload.percents == 100) {
                        window.clearTimeout(this.timer);
                        $("#progress_filename").html('Processing ' + filename + "...");
                    } else {
                        $("#progress_filename").html('Uploading ' + filename + ': ' + upload.percents + '%');
                    }
                },
                interval: 2000
            });
        });
    }
);
//]]>
</script>
{% endblock %}

