{% extends "downloader/base.html" %}
{% load i18n %}
{% load downloadertags %}


{% block header %}
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/themes/base/jquery-ui.css" id="theme">

{% endblock %}

{% block content %}
<div>

    <div id="fileupload">
        <form action="{% url ajax_upload %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="fileupload-buttonbar">
                <label class="fileinput-button">
                    <span>Add files...</span>
                    <input type="file" name="file" multiple>
                </label>
                <button type="submit" class="start">Start upload</button>
                <button type="reset" class="cancel">Cancel upload</button>
                <button type="button" class="delete">Delete files</button>
            </div>
        </form>
        <div class="fileupload-content">
            <table class="files"></table>
            <div class="fileupload-progressbar"></div>
        </div>
    </div>



    <form id="upload_form" action="{% url upload %}" method="post" accept-charset="utf-8" class="steps">
        
        {% if form.file_id.errors %}
            <p class="error field_error">{{ form.file_id.errors|join:"<br />" }}</p>
        {% endif %}
        <input type="hidden" id="id_file_id" name="file_id" value=""/>

        {% display_field form.my_mail %}
        {% display_field form.notify1 %}
        {% display_field form.notify2 %}
        {% display_field form.notify3 %}
        {% display_field form.comment %}
        {% display_field form.password %}

        <p>
            <span class="step"></span>
            <input type="submit" value="Upload"/>
        </p>
        {% csrf_token %}

    </form>
</div>


<!-- Templates -->
{% include "downloader/js_templates.jqtmpl" %}

{% endblock %}

{% block javascript %}
<!-- Libraries -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.fileupload-ui.js"></script>
<!-- Custom code -->
<script type="text/javascript" src="{{ STATIC_URL }}/js/constants.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/application.js"></script>


{% endblock %}

