{% extends "downloader/base.html" %}
{% load i18n %}
{% block title %}Upload ok{% endblock %}

{% block header %}
{% endblock %}
{% block links %}
{% endblock %}
{% block content %}
<div>
<p>
Nous vous confirmons le dépôt des fichiers effectué le {{ download.creation }}
</p>

<p>
Vos fichiers seront accessibles aux adresses suivantes:
</p>

<p>
<ul>
{% for download in download_group.downloads.all %}
<li>{{ download.file.filename }}: <a href="http://{{ host }}{% url get_file download.slug %}">http://{{ host }}{% url get_file download.slug %}</a></li>
{% endfor %}
</ul>
</p>

{% if download.password %}
<p>
Les fichiers sont protégé par le mot de passe suivant: {{ download.password }}
</p>
{% endif %}
<p>
A bientôt sur {{ host }}
</p>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}

